h1 = "Updating profile"
form action="/hird/logged/admin/#{@selected_user["info_id"]}/update" method="post"
    h2 ="username: #{@selected_user["user"]}"
    <form>
    h2="description:"
    input type="text" name="desc" placeholder="#{@selected_user["description"]}"
    
    input type="submit" value="save"
